<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.begcode.monolith.settings.repository.DictionaryRepository">

    <!-- begcode-please-regenerate-this-file 如果您不希望重新生成代码时被覆盖，将please修改为don't ！！！-->

    <!-- 通用查询映射结果 -->
    <resultMap id="baseResultMap" type="com.begcode.monolith.settings.domain.Dictionary">
        <id column="id" property="id"/>
        <id column="id" property="id" />
        <result column="dict_name" property="dictName" />
        <result column="dict_key" property="dictKey" />
        <result column="disabled" property="disabled" />
        <result column="sort_value" property="sortValue" />
        <result column="built_in" property="builtIn" />
        <result column="sync_enum" property="syncEnum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        id,
        dict_name,
        dict_key,
        disabled,
        sort_value,
        built_in,
        sync_enum
    </sql>

</mapper>
