<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.begcode.monolith.oss.repository.OssConfigRepository">

    <!-- begcode-please-regenerate-this-file 如果您不希望重新生成代码时被覆盖，将please修改为don't ！！！-->

    <!-- 通用查询映射结果 -->
    <resultMap id="baseResultMap" type="com.begcode.monolith.oss.domain.OssConfig">
        <id column="id" property="id"/>
        <id column="id" property="id" />
        <result column="provider" property="provider" />
        <result column="platform" property="platform" />
        <result column="enabled" property="enabled" />
        <result column="remark" property="remark" />
        <result column="config_data" property="configData" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        id,
        provider,
        platform,
        enabled,
        remark,
        config_data
    </sql>

</mapper>
