<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.begcode.monolith.repository.AuthorityRepository">

    <!-- begcode-please-regenerate-this-file 如果您不希望重新生成代码时被覆盖，将please修改为don't ！！！-->

    <!-- 通用查询映射结果 -->
    <resultMap id="baseResultMap" type="com.begcode.monolith.domain.Authority">
        <id column="id" property="id"/>
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="info" property="info" />
        <result column="`order`" property="order" />
        <result column="display" property="display" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        id,
        name,
        code,
        info,
        `order`,
        display
    </sql>

</mapper>
