<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.begcode.monolith.repository.DepartmentRepository">

    <!-- begcode-please-regenerate-this-file 如果您不希望重新生成代码时被覆盖，将please修改为don't ！！！-->

    <!-- 通用查询映射结果 -->
    <resultMap id="baseResultMap" type="com.begcode.monolith.domain.Department">
        <id column="id" property="id"/>
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="address" property="address" />
        <result column="phone_num" property="phoneNum" />
        <result column="logo" property="logo" />
        <result column="contact" property="contact" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        id,
        name,
        code,
        address,
        phone_num,
        logo,
        contact,
        create_user_id,
        create_time
    </sql>

</mapper>
