<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.begcode.monolith.system.repository.AnnouncementRecordRepository">

    <!-- begcode-please-regenerate-this-file 如果您不希望重新生成代码时被覆盖，将please修改为don't ！！！-->

    <!-- 通用查询映射结果 -->
    <resultMap id="baseResultMap" type="com.begcode.monolith.system.domain.AnnouncementRecord">
        <id column="id" property="id"/>
        <id column="id" property="id" />
        <result column="annt_id" property="anntId" />
        <result column="user_id" property="userId" />
        <result column="has_read" property="hasRead" />
        <result column="read_time" property="readTime" />
        <result column="created_by" property="createdBy" />
        <result column="created_date" property="createdDate" />
        <result column="last_modified_by" property="lastModifiedBy" />
        <result column="last_modified_date" property="lastModifiedDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        id,
        annt_id,
        user_id,
        has_read,
        read_time,
        created_by,
        created_date,
        last_modified_by,
        last_modified_date
    </sql>

</mapper>
