<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.begcode.monolith.system.repository.SmsMessageRepository">

    <!-- begcode-please-regenerate-this-file 如果您不希望重新生成代码时被覆盖，将please修改为don't ！！！-->

    <!-- 通用查询映射结果 -->
    <resultMap id="baseResultMap" type="com.begcode.monolith.system.domain.SmsMessage">
        <id column="id" property="id"/>
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="send_type" property="sendType" />
        <result column="receiver" property="receiver" />
        <result column="params" property="params" />
        <result column="content" property="content" />
        <result column="send_time" property="sendTime" />
        <result column="send_status" property="sendStatus" />
        <result column="retry_num" property="retryNum" />
        <result column="fail_result" property="failResult" />
        <result column="remark" property="remark" />
        <result column="created_by" property="createdBy" />
        <result column="created_date" property="createdDate" />
        <result column="last_modified_by" property="lastModifiedBy" />
        <result column="last_modified_date" property="lastModifiedDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        id,
        title,
        send_type,
        receiver,
        params,
        content,
        send_time,
        send_status,
        retry_num,
        fail_result,
        remark,
        created_by,
        created_date,
        last_modified_by,
        last_modified_date
    </sql>

</mapper>
